@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  text-align: center;
  margin: 20px;
  font-family: 'Roboto', sans-serif; /* Asegúrate de definir Roboto como la fuente de la clase */
  font-size: 16px; /* Establece el tamaño de la fuente */
}
  
h1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.SearchBar {
  margin-bottom: 20px;
}

.ActionButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ActionButton:hover {
  background-color: #0056b3;
}

.ActionButton:active {
  background-color: #004080;
}

/* modal */

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #555; /* Color inicial de la X */
}

.modal-close:hover {
  color: #007bff; /* Cambia este color al deseado para el efecto hover */
  transition: color 0.3s ease-in-out;
}

.modal-close:focus {
  outline: none;
}


/* SearchBar.css */

.search-form {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
}

.search-input-wrapper {
  position: relative;
  width: 30%;
}

.search-input {
  width: 90%;
  padding: 8px 8px 8px 35px; /* Espacio para el ícono */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'Inter', sans-serif !important; /* Aplicar la fuente Inter */
}

.search-input::placeholder {
  color: #aaa;
}

.search-input-wrapper .bi-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 16px;
}

/* boton de agregar productos */

.action-button {
  position: fixed;
  top: 20px;
  left: 100px;
  font-weight: 600;
  z-index: 9999;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.action-button2 {
  position: absolute;
  top: 20px;
  left: 10%; /* Posiciona el botón en el centro horizontal */
  transform: translateX(-50%); /* Lo desplaza hacia la izquierda la mitad de su propio ancho */
  font-weight: 600;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  z-index: 9999;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.action-button2:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.prices-button {
  position: fixed;
  z-index: 9999;
  top: 20px;
  left: 280px;
  font-weight: 600;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.prices-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/* botones */

.btnEditar {
  color: #fff;
  background: #004080;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 15px;
}

.btnEditar:hover {
  background: #011D3D;
}

.btnEliminar {
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  background: #f2003c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  margin-right: -15px;
}

.btnEliminar:hover {
  background: #6B0202;
}


/* sidebar */

.sidebar-content {
  overflow-y: auto; /* Permitir desplazamiento */
  height: calc(100vh - 145px); /* Ajustar según la altura del header y footer */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer y Edge */
}

.sidebar-content::-webkit-scrollbar {
  display: none; /* Ocultar scrollbar en WebKit (Chrome, Safari) */
}

.sidebar {
  z-index: 9999;
  width: 250px;
  background-color: #fff;
  position: fixed;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  top: 0;
  left: 0;
  height: 100%; /* Hacer que ocupe toda la altura de la pantalla */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease; /* Solo aplicar transición al cambiar el ancho */
}

.sidebar.closed {
  width: 50px;
}

.logo {
  width: 80px;
  height: auto;
  transition: margin-top 0.3s;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.menu-icon {
  width: 20px;
  height: auto;
  cursor: pointer;
  margin-bottom: 15px;
  transition: margin-top 0.3s;
}

.sidebar.closed .menu-icon {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar.closed .logo {
  margin-top: 10px; /* Ajustar el margen superior cuando el sidebar está cerrado */
}

.navbar {
  border: none;
  margin-bottom: 0;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  list-style: none;
  margin: 0;
}

.navbar-nav li a {
  display: flex; /* Mostrar íconos y texto en línea */
  align-items: center; /* Alinear íconos y texto verticalmente */
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  transition: background-color 0.2s, color 0.2s;
}

.navbar-nav li a .icon {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
  font-size: 20px;
}

.navbar-nav li a.active,
.navbar-nav li a:hover {
  background-color: #007bff;
  color: #fff;
}

.menu-item:hover,
.menu-item:hover .dropdown-arrow {
  color: #fff;
}

.sidebar.closed .navbar-nav li a .text {
  display: none;
}

.sidebar.closed .navbar-nav li a {
  justify-content: center; /* Centrar íconos cuando el sidebar está cerrado */
}

.sidebar.closed .navbar-nav li a .icon {
  margin-right: 0; /* Quitar margen cuando el sidebar está cerrado */
}

.sidebar.open .navbar-nav li a {
  padding-left: 30px; /* Añadir padding-left cuando el sidebar está abierto */
}

.sidebar-footer {
  padding: 20px;
  border-top: 1px solid #eee;
}

.sidebar-copyright {
  text-align: center; /* Centrar el texto */
  font-size: 14px;
  color: #777;
}

.sidebar.closed .centrar-logo,
.sidebar.closed .sidebar-footer {
  display: none;
}

.dropdown-arrow {
  margin-left: 5px;
  color: #777;
  font-weight: 600;
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.sub-menu {
  list-style: none;
  padding: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sub-menu.open {
  opacity: 1;
  transform: translateY(0);
  animation: slideDownFadeIn 0.3s ease;
}

.sub-menu.closed {
  opacity: 0;
  transform: translateY(-10px);
  animation: slideUpFadeOut 0.3s ease;
}

.sub-menu li {
  text-align: left; 
}

.sub-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.sub-menu li a:hover {
  background-color: #424242;
}

.sidebar-content,
.sidebar-header,
.sidebar-copyright,
.navbar-nav li a,
.sidebar-footer,
.main-text {
  font-family: "Inter", sans-serif;
}

.main-text {
  font-size: 16px; /* Tamaño de fuente más pequeño */
  display: block; /* Hacer que el texto ocupe toda la anchura */
  text-align: left; /* Justificar a la izquierda */
  margin-left: 30px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #9e9e9e;
}

.dropdown-arrow-container {
  margin-left: auto;
}

.card-wrapper.dragging {
  border: 2px dashed #e9e9e9;
}


/* */

.modal-apply-button {
  display: inline-flex;
  justify-content: center;
  margin: 10px;
  text-align: center;
  width: 45%; /* Ajustado para que ambos botones quepan en el modal con espacio entre ellos */
  padding: 10px; 
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

/* lista de clientes */
.client-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.client-form input,
.client-form button {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
}

.client-form button {
  background-color: #007bff;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.client-form button:hover {
  background-color: #0056b3;
}

.client-form input[type="text"],
.client-form input[type="email"] {
  width: 100%;
}

.client-form input[type="text"],
.client-form input[type="email"],
.client-form button {
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.client-form input[type="text"]:focus,
.client-form input[type="email"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* estilos para pagina cotizacion */

.cotizacion-form {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.cotizacion-header {
  width: auto;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid #cecece;;
}

.cotizacion-body {
  margin-top: 1rem;
}

#fecha-vencimiento {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para el input de fecha al estar enfocado */
#fecha-vencimiento:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.logoCotizacion {
  width: 150px;
  margin-right: 10px;
}

.border-right {
  width: 2px;
  height: 45px;
  background-color: #cecece;
  margin-right: 10px;
}

.cotizacion-title {
  font-size: 24px;
  margin: 0;
}

.cotizacion-form label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.cotizacion-form input[type="text"],
.cotizacion-form input[type="number"],
.cotizacion-form select,
.cotizacion-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.cotizacion-form textarea {
  height: 100px;
}

.cotizacion-form button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.cotizacion-form button:hover {
  background-color: #0056b3;
}

.productos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.productos-table th,
.productos-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.productos-table th {
  background-color: #007bff;
  color: #fff;
}

.productos-table input[type="text"],
.productos-table input[type="number"] {
  width: calc(100% - 16px);
  padding: 5px;
  margin: 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.productos-table input[type="text"]:focus,
.productos-table input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.productos-table button {
  padding: 0;
  border: none;
  background: none;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
}

.productos-table button:hover {
  color: #000;
  background: none;
}

/*modal*/

.modal-buttons {
  position: absolute;
  bottom: auto;
  right: 20px;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.modal-buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}

.eliminarBtnModal {
  background: #f2003c !important;
}

.eliminarBtnModal:hover {
  background: #6B0202 !important;
}

/* btnPrevia*/

.btnPrevia {
  background-color: #007bff;
  color: #fff;
  padding: 5px 25px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  font-size: 12px;
  border-radius: 5px;
}

.btnPrevia:hover {
  background-color: #0056b3;
}

/* filtros */

.button-container {
  margin-bottom: 20px;
  text-align: center;
}

.button-container button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #f0f0f0;
}

.button-container button.active {
  background-color: #007bff;
  color: #fff;
}

/**/

.image-button {
  cursor: pointer;
  position: absolute;
  top: 130px;
  left: -10px;
  margin-left: 85px;
  width: 30px;
}

.filtro-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 500px;
  left: 105px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filtro-options button {
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 100%;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 14px;
  margin-bottom: 5px;
  cursor: pointer;
}

.filtro-options button:hover {
  background-color: #0056b3;
}

/*DELETE COTIZACION*/

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.delete-button-container {
  position: fixed;
  top: 100px; /* Posición inicial */
  right: 50px;
  z-index: 1;
  animation: slideIn 0.4s ease forwards; /* Aplicar animación */
  opacity: 0; /* Inicialmente transparente */
}

.delete-button-container.active {
  opacity: 1; /* Hacer visible */
}

.delete-button {
  width: 30px;
  cursor: pointer;
}

/*ResumenCotizacion*/

.resumen-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%; /* Ancho del resumen */
  background-color: #f0f0f0;
  border-left: 1px solid #ccc; /* Línea divisoria */
  overflow-y: auto;
  padding: 20px; /* Añade un espacio interno */
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1); /* Añade una sombra para resaltar el contorno */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.resumen-container.active {
  transform: translateX(0);
}

.resumen-cotizacion-container {
  max-width: 100%; /* Ajusta el ancho del contenido */
  position: relative;
}

.resumen-cotizacion-header {
  background-color: #ddd;
  padding: 10px;
  border-radius: 8px 8px 0 0; /* Borde redondeado solo en la parte superior */
  border-bottom: 1px solid #ccc;
}

.resumen-cotizacion-title {
  margin: 0;
}

.resumen-cotizacion-content {
  padding: 20px 0; /* Ajusta el espacio interno */
  text-align: left;
}

.resumen-cotizacion-actions {
  display: flex;
  flex-direction: row;
  gap: 5px; /* Espacio entre botones */
  margin-bottom: 50px;
}

.resumen-cotizacion-actions button {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.resumen-cotizacion-actions button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón por encima */
}

.resumen-cotizacion-actions button:last-child {
  margin-right: 0; /* Elimina el margen derecho del último botón */
}

.iconResumen {
  margin-right: 6px; /* Espacio entre el ícono y el texto */
  width: 20px; /* Ancho del ícono */
  height: 20px; /* Altura del ícono */
}

.cerrar-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.cerrar-button:hover {
  color: #000; /* Cambia el color al pasar el ratón por encima */
  font-weight: 600;
}

/*BandejaCotizaciones*/

.mensaje-cotizacion {
  display: flex;
  align-items: flex-start; /* Alinea los elementos al principio */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%; /* Ancho del mensaje */
}

.mensaje-cotizacion input[type="checkbox"] {
  margin-right: 20px;
  margin-left: 60px;
}

.mensaje-cotizacion .info-container {
  flex: 1;
}

.mensaje-cotizacion .info-container p {
  margin: 5px 0;
  text-align: left;
}

.mensaje-cotizacion .info-container p:first-child {
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #007bff;
  min-width: 135px;
  z-index: 1;
  border-radius: 3px;
}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background-color: #007bff;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #0056b3;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropdown:hover .dropbtn {
  background-color: #0056b3;
}

.fullscreen-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Agrega un fondo semitransparente para hacer que el formulario sea más visible */
  z-index: 9999; /* Asegúrate de que el formulario esté por encima de otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-form form {
  width: 90%; /* Ajusta el ancho del formulario según sea necesario */
  max-width: 800px; /* Limita el ancho máximo del formulario */
  /* Agrega otros estilos según sea necesario */
}

.cotizaciones-table {
  padding-right: 0 !important;
  padding: 30px;
}

/**/

.encabezado {
  display: flex;
  gap: 2rem;
  justify-content: left;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.boton-accion {
  position: relative;
  left: 5%;
  font-weight: 600;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.boton-accion:hover {
  background-color: #0056b3;
}

/* Dashboard */

.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.rbc-btn-group {
  display: flex;
}

.month-year-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}

/* CALENDARIO GRANDE */

.calendario-gd {
  padding: 60px;
  padding-right: 0;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Tareas */
.kanban__main {
  background-color: #fff;
  grid-area: main;
  position: relative;
  padding: 30px;
  padding-right: 0;
}


@media screen and (max-width: 870px) {
  .kanban__main .card-wrapper {
    width: calc(30% - 50px);
  }
}

@media screen and (max-width: 768px) {
  .kanban__main .card-wrapper {
    width: calc(100% - 10px);
    margin: 10px;
  }
}

.kanban__main-wrapper {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;;
  flex-wrap: wrap;
  margin: 0 50px;
  align-items: flex-start;
}

.card-wrapper {
  box-shadow: 0px 0px 10px 0px #d2d7e0;
  width: calc(30% - 65px);
  border-top: double 4px transparent;
  border-radius: 5px;
  background-color: #eef2f9;
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-left: 50px;
}

.backlog-name {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.card-wrapper__header {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.card-wrapper__footer {
  display: flex;
  justify-content: center;
  margin: 15px 0 15px 0;
  color: #000;
}

.iconoTarea {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.backlog-dots {
  color: var(--colorName);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

/* Estilos para las tarjetas dentro de cada sección */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 5px;
  border: 1px solid #cecece;
  background-color: #fff;
  width: calc(90% - 10px);
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;  
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__header-priority {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.card__header-clear {
  color: #000;
  font-weight: 600;
  margin: 10px 10px 0 0;
  cursor: pointer;
  font-size: 18px;
}

.backlog-color {
  background-image: linear-gradient(#f6f8fc, #f6f8fc), radial-gradient(circle at top left, #c781ff, #e57373);
}

.en-proceso-color {
  background-image: linear-gradient(#f6f8fc, #f6f8fc), radial-gradient(circle at top left, #ff9985, #ffb74e);
}

.revision-color {
  background-image: linear-gradient(#f6f8fc, #f6f8fc), radial-gradient(circle at top left, #9ea7fc, #6eb4f7);
}

.completado-color {
  background-image: linear-gradient(#f6f8fc, #f6f8fc), radial-gradient(circle at top left, #81d5ee, #7ed492);
}


.card__text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin: 0 10px;
  word-wrap: break-word;
  text-align: left;
}

.card-container-color {
  border-radius: 3px;
  height: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 15px 10px;
}

.card__fecha {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin: 0 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  text-align: left;
}

.card__menu {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 10px 10px;
}

.comments-wrapper, .attach-wrapper {
  display: flex;
}

.comments-num, .attach-num {
  font-size: 14px;
  margin-left: 5px;
}

.comments-ico, .comments-num, .attach-ico, .attach-num {
  color: #000;
  display: flex;
  align-items: center;
}

.card__menu-left {
  width: 65px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card__menu-right {
  display: flex;
  align-items: center;
}

.img-avatar {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 5px;
  border-radius: 50%;
}

.usuario {
  color: #000;
  font-size: 12px;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-peoples {
  color: var(--colorBarW);
  width: 28px;
  height: 28px;
  border: 1px dashed var(--colorBarW);
  border-radius: 50px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

/* Estilos para el botón "Add Task" */

.add-task {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.add-task-ico {
  margin-left: 7px;
  font-size: 20px;
  cursor: pointer;
}

/* Estilos para el botón de cerrar modal */

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
}

.comment {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  padding-bottom: 40px; /* Para dejar espacio para los botones */
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-weight: bold;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
}

.time {
  color: #999;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.comentario {
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.write-comment {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.write-comment input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.comment-buttons-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
  gap: 10px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.comment-button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.comment-button:hover {
  background-color: #0056b3;
}

.custom-input {
  width: 90%; /* Ajusta el ancho según tus necesidades */
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.send-button {
  cursor: pointer;
  transition: color 0.3s;
  font-family: "Roboto", sans-serif;
}

.send-button:hover {
  color: #007bff;
}

/* */

/* Subir archivos en Tareas */

input[type="file"] {
  display: none;
}

.dropzone {
  border: 2px dashed #007bff;
  padding: 60px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
}

.dropzone p {
  margin-top: 0;
}

.file-info {
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  overflow: hidden; /* Para que los bordes redondeados se apliquen correctamente */
}

.file-container {
  display: flex;
  align-items: flex-start;
}

.file-image {
  padding: 20px;
  justify-content: center;
  display: flex;
}

.file-image img {
  width: 40px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
}

.file-content {
  flex: 1 1 auto; /* El contenido puede crecer, pero no encoger */
  padding: 20px;
  position: relative;
}


.file-actions {
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.file-actions button {
  margin-right: 10px;
}

.file-actions button:hover {
  color: #007bff;
}

.file-name {
  margin-bottom: 10px;
}

.progress-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

progress {
  width: 100%;
  height: 15px;
  background-color: #cecece;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


progress::-webkit-progress-value {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,255,4,1) 100%);
  border-radius: 10px;
}


progress::-webkit-progress-bar {
  background-color: #cecece;
  border-radius: 10px;
  
}

.file-preview {
  margin-top: 20px;
  border: none;
  width: 100%;
  height: 400px;
}

button {
  margin-right: 10px;
}

/* login */

html, body, #root, .App {
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center; /* Añadir esta línea para centrar todo el contenido */
}

.login-form h1 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  margin-left: 65px;
}

.form-group {
  margin-bottom: 20px;
  width: 100%; /* Cambia esto a 100% para evitar el desplazamiento */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 130%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc; /* Color del borde */
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button {
  width: 130%; /* Cambia esto a 100% para evitar el desplazamiento */
  padding: 10px;
  margin-top: 20px; /* Agrega un margen superior para separar el botón de los campos de entrada */
  background-color: #007bff; /* Color del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.login-button:hover {
  background-color: #0056b3; /* Color del botón al pasar el ratón */
}

.login-background {
  flex: 1;
  background-image: url("../public/img/login.svg");
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.input-container {
  position: relative;
  width: 130%;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Ajusta el tamaño del ícono según sea necesario */
  height: 20px; /* Ajusta el tamaño del ícono según sea necesario */
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Añadir espacio a la izquierda para el ícono */
  font-size: 16px;
  border: 1px solid #ccc; /* Color del borde */
  border-radius: 5px;
  box-sizing: border-box;
}

.login-description {
  max-width: 350px; /* Limita el ancho del párrafo */
  margin-bottom: 20px;
  margin-left: 65px;
  color: #555;
  text-align: center; /* Centrar el texto */
  word-wrap: break-word; /* Permitir que las palabras largas se rompan */
}

.logo-container {
  position: absolute;
  top: 0; /* Asegura que el logotipo esté en la parte superior */
  left: 0; /* Asegura que el logotipo esté en la parte izquierda */
  padding: 10px; /* Añade un poco de espacio desde el borde si es necesario */
}

.logo-login {
  width: 150px; /* Ajusta el tamaño del logotipo según sea necesario */
  height: auto;
}

.containerLoginBottom {
  text-align: center;
  margin-left: 70px;
}

.loginBoton {
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.loginBoton:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* registro */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../public/img/waves.svg");
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.register-form {
  width: 450px;
  height: 500px;
  background-color: #fff; /* Fondo blanco para el formulario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); /* Sombra suave */
}

.register-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form p {
  text-align: center;
  margin-bottom: 20px;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-form button:hover {
  background-color: #0056b3;
}

.register-containerLogin {
  text-align: center;
  margin-top: 40px;
}

.register-link {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.register-link:hover {
  text-decoration: underline;
  color: #0056b3;
  font-weight: 600;
}

/* CLASE PARA CENTRAR CONTENIDO */
.centrar {
  padding: 30px;
  padding-right: 0;
}

/**/

.dashboard-container {
  position: absolute;
  top: 120px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.calendar-container {
  width: 200px;
  min-width: 250px;
  height: 280px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.calendar-container.expanded {
  width: 400px;
  height: 300px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.expand-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 1.5rem;
  padding: 5px;
}

.calendar-content {
  height: calc(100% - 50px);
  overflow-y: auto; /* Scroll vertical si el contenido excede el tamaño */
}

.upcoming-events {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: margin-top 0.3s ease;
}

/* Contenedor interno de eventos */
.events-container {
  background-color: #f5f5f5; /* Fondo gris claro */
  padding: 10px;
  border-radius: 8px;
}

/* Título de la lista de eventos */
.events-title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

/* Lista de eventos */
.events-list {
  list-style: none;
  padding: 0;
}

/* Elemento individual de evento */
.event-item {
  display: flex; /* Para alinear el tiempo y detalles */
  align-items: center; /* Alinea verticalmente */
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hora del evento */
.event-time {
  font-weight: bold;
  margin-right: 20px;
  font-size: 1.1em;
}

/* Detalles del evento */
.event-details {
  flex: 1;
}

/* Título del evento */
.event-title {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Fecha del evento */
.event-date {
  display: block;
  margin-bottom: 5px;
  color: #888; /* Gris claro para la fecha */
}

/* Descripción del evento */
.event-description {
  color: #666; /* Gris más oscuro para la descripción */
}


