@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  text-align: center;
  margin: 20px;
  font-family: 'Roboto', sans-serif; /* Asegúrate de definir Roboto como la fuente de la clase */
  font-size: 16px; /* Establece el tamaño de la fuente */
}
  
  h1 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .SearchBar {
    margin-bottom: 20px;
  }
  
  .ActionButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ActionButton:hover {
    background-color: #0056b3;
  }
  
  .ActionButton:active {
    background-color: #004080;
  }

  /* modal */

  .modal-close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #555; /* Color inicial de la X */
  }
  
  .modal-close:hover {
    color: #007bff; /* Cambia este color al deseado para el efecto hover */
    transition: color 0.3s ease-in-out;
  }
  
  .modal-close:focus {
    outline: none;
  }


/* SearchBar.css */

.search-form {
  margin-bottom: 2rem;
}

.search-input {
  flex: 1;
  width: 25%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 20px;
}

.search-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}


/* boton de agregar productos */

.action-button {
  position: fixed;
  top: 20px;
  right: 50px;
  font-weight: 600;
  z-index: 9999;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.prices-button {
  position: fixed;
  top: 20px;
  right: 250px;
  font-weight: 600;
  z-index: 9999;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.prices-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/* botones */

.btnEditar {
  color: #fff;
  background: #004080;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 15px;
}

.btnEditar:hover {
  background: #011D3D;
}

.btnEliminar {
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  background: #f2003c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  margin-right: -15px;
}

.btnEliminar:hover {
  background: #6B0202;
}

/* sidebar */

.sidebar {
  width: 250px;
  background-color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: width 0.3s; /* Agregar transición para el ancho */
}

.sidebar.closed {
  width: 50px; /* Ancho reducido cuando está cerrado */
}

.logo {
  display: block;
  max-width: 80%; /* Ajusta el tamaño del logo según sea necesario */
  margin: 0 auto; /* Centra el logo horizontalmente */
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar {
  border: none;
  margin-bottom: 0;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  list-style: none;
  margin: 0;
}

.navbar-nav li a {
  display: flex; /* Mostrar íconos y texto en línea */
  align-items: center; /* Alinear íconos y texto verticalmente */
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s, color 0.2s;
}

.navbar-nav li a .icon {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.navbar-nav li a.active,
.navbar-nav li a:hover {
  background-color: #0056b3;
  color: #fff;
}

/* Estilos para ocultar texto cuando el sidebar está cerrado */
.sidebar.closed .navbar-nav li a .text {
  display: none;
}

.sidebar-footer {
  padding: 20px;
  border-top: 1px solid #eee;
  margin-top: auto;
}

.sidebar-copyright {
  color: #666;
  text-align: center;
}

.menu-icon {
  width: 20px;
  cursor: pointer;
  height: auto;
}

.sidebar.closed .centrar-logo,
.sidebar.closed .sidebar-footer {
  display: none;
}

/* */

.modal-apply-button {
  display: inline-flex;
  justify-content: center;
  margin: 10px;
  text-align: center;
  width: 45%; /* Ajustado para que ambos botones quepan en el modal con espacio entre ellos */
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

/* lista de clientes */
.client-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.client-form input,
.client-form button {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
}

.client-form button {
  background-color: #007bff;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.client-form button:hover {
  background-color: #0056b3;
}

.client-form input[type="text"],
.client-form input[type="email"] {
  width: 100%;
}

.client-form input[type="text"],
.client-form input[type="email"],
.client-form button {
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.client-form input[type="text"]:focus,
.client-form input[type="email"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* estilos para pagina cotizacion */

.cotizacion-form {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.cotizacion-header {
  width: auto;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid #cecece;;
}

.cotizacion-body {
  margin-top: 1rem;
}

#fecha-vencimiento {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para el input de fecha al estar enfocado */
#fecha-vencimiento:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.logoCotizacion {
  width: 150px;
  margin-right: 10px;
}

.border-right {
  width: 2px;
  height: 45px;
  background-color: #cecece;
  margin-right: 10px;
}

.cotizacion-title {
  font-size: 24px;
  margin: 0;
}

.cotizacion-form label {
  display: block;
  margin-bottom: 5px;
}

.cotizacion-form input[type="text"],
.cotizacion-form input[type="number"],
.cotizacion-form select,
.cotizacion-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.cotizacion-form textarea {
  height: 100px;
}

.cotizacion-form button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.cotizacion-form button:hover {
  background-color: #0056b3;
}

.productos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.productos-table th,
.productos-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.productos-table th {
  background-color: #007bff;
  color: #fff;
}

.productos-table input[type="text"],
.productos-table input[type="number"] {
  width: calc(100% - 16px);
  padding: 5px;
  margin: 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.productos-table input[type="text"]:focus,
.productos-table input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.productos-table button {
  padding: 0;
  border: none;
  background: none;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
}

.productos-table button:hover {
  color: #000;
  background: none;
}



