@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  text-align: center;
  margin: 20px;
  font-family: 'Roboto', sans-serif; /* Asegúrate de definir Roboto como la fuente de la clase */
  font-size: 16px; /* Establece el tamaño de la fuente */
}
  
  h1 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .SearchBar {
    margin-bottom: 20px;
  }
  
  .ActionButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ActionButton:hover {
    background-color: #0056b3;
  }
  
  .ActionButton:active {
    background-color: #004080;
  }

  /* modal */

  .modal-close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #555; /* Color inicial de la X */
  }
  
  .modal-close:hover {
    color: #007bff; /* Cambia este color al deseado para el efecto hover */
    transition: color 0.3s ease-in-out;
  }
  
  .modal-close:focus {
    outline: none;
  }


/* SearchBar.css */

.search-form {
  margin-bottom: 2rem;
}

.search-input {
  flex: 1;
  width: 25%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 20px;
}

.search-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}


/* boton de agregar productos */

.action-button {
  position: fixed;
  top: 20px;
  left: 100px;
  font-weight: 600;
  z-index: 9999;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.action-button2 {
  position: absolute;
  top: 20px;
  left: 15%; /* Posiciona el botón en el centro horizontal */
  transform: translateX(-50%); /* Lo desplaza hacia la izquierda la mitad de su propio ancho */
  font-weight: 600;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.action-button2:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.prices-button {
  position: fixed;
  top: 20px;
  left: 300px;
  font-weight: 600;
  z-index: 9999;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.prices-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/* botones */

.btnEditar {
  color: #fff;
  background: #004080;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 15px;
}

.btnEditar:hover {
  background: #011D3D;
}

.btnEliminar {
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  background: #f2003c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  margin-right: -15px;
}

.btnEliminar:hover {
  background: #6B0202;
}

/* sidebar */

.sidebar {
  width: 250px;
  background-color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: width 0.3s; /* Agregar transición para el ancho */
}

.sidebar.closed {
  width: 50px; /* Ancho reducido cuando está cerrado */
}

.logo {
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px 15px;

}

.navbar {
  border: none;
  margin-bottom: 0;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  list-style: none;
  margin: 0;
}

.navbar-nav li a {
  display: flex; /* Mostrar íconos y texto en línea */
  align-items: center; /* Alinear íconos y texto verticalmente */
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  transition: background-color 0.2s, color 0.2s;
}

.navbar-nav li a .icon {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
  font-size: 20px;
}

.navbar-nav li a.active,
.navbar-nav li a:hover {
  background-color: #0056b3;
  color: #fff;
}

/* Estilos para ocultar texto cuando el sidebar está cerrado */
.sidebar.closed .navbar-nav li a .text {
  display: none;
}

.sidebar-footer {
  padding: 20px;
  border-top: 1px solid #eee;
  margin-top: auto;
}

.sidebar-copyright {
  color: #666;
  text-align: center;
}

.menu-icon {
  width: 20px;
  cursor: pointer;
  height: auto;
}

.sidebar.closed .centrar-logo,
.sidebar.closed .sidebar-footer {
  display: none;
}

/* */

.modal-apply-button {
  display: inline-flex;
  justify-content: center;
  margin: 10px;
  text-align: center;
  width: 45%; /* Ajustado para que ambos botones quepan en el modal con espacio entre ellos */
  padding: 10px; 
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

/* lista de clientes */
.client-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.client-form input,
.client-form button {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
}

.client-form button {
  background-color: #007bff;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.client-form button:hover {
  background-color: #0056b3;
}

.client-form input[type="text"],
.client-form input[type="email"] {
  width: 100%;
}

.client-form input[type="text"],
.client-form input[type="email"],
.client-form button {
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.client-form input[type="text"]:focus,
.client-form input[type="email"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* estilos para pagina cotizacion */


.cotizacion-form {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.cotizacion-header {
  width: auto;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid #cecece;;
}

.cotizacion-body {
  margin-top: 1rem;
}

#fecha-vencimiento {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para el input de fecha al estar enfocado */
#fecha-vencimiento:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.logoCotizacion {
  width: 150px;
  margin-right: 10px;
}

.border-right {
  width: 2px;
  height: 45px;
  background-color: #cecece;
  margin-right: 10px;
}

.cotizacion-title {
  font-size: 24px;
  margin: 0;
}

.cotizacion-form label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.cotizacion-form input[type="text"],
.cotizacion-form input[type="number"],
.cotizacion-form select,
.cotizacion-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.cotizacion-form textarea {
  height: 100px;
}

.cotizacion-form button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.cotizacion-form button:hover {
  background-color: #0056b3;
}

.productos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.productos-table th,
.productos-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.productos-table th {
  background-color: #007bff;
  color: #fff;
}

.productos-table input[type="text"],
.productos-table input[type="number"] {
  width: calc(100% - 16px);
  padding: 5px;
  margin: 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.productos-table input[type="text"]:focus,
.productos-table input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.productos-table button {
  padding: 0;
  border: none;
  background: none;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
}

.productos-table button:hover {
  color: #000;
  background: none;
}

/*modal*/

.modal-buttons {
  position: absolute;
  bottom: auto;
  right: 20px;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.modal-buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}

.eliminarBtnModal {
  background: #f2003c !important;
}

.eliminarBtnModal:hover {
  background: #6B0202 !important;
}

/* btnPrevia*/

.btnPrevia {
  background-color: #007bff;
  color: #fff;
  padding: 5px 25px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  font-size: 12px;
  border-radius: 5px;
}

.btnPrevia:hover {
  background-color: #0056b3;
}

/* filtros */

.button-container {
  margin-bottom: 20px;
  text-align: center;
}

.button-container button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #f0f0f0;
}

.button-container button.active {
  background-color: #007bff;
  color: #fff;
}

/**/

.image-button {
  cursor: pointer;
  position: absolute;
  top: 100px;
  left: 0;
  margin-left: 85px;
  width: 30px;
}

.filtro-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 500px;
  left: 120px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filtro-options button {
  background-color: #007bff;
  color: #fff;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 12px;
  margin-bottom: 5px;
  cursor: pointer;
}

.filtro-options button:hover {
  background-color: #0056b3;
}

/*DELETE COTIZACION*/

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.delete-button-container {
  position: fixed;
  top: 100px; /* Posición inicial */
  right: 50px;
  z-index: 1;
  animation: slideIn 0.4s ease forwards; /* Aplicar animación */
  opacity: 0; /* Inicialmente transparente */
}

.delete-button-container.active {
  opacity: 1; /* Hacer visible */
}

.delete-button {
  width: 30px;
  cursor: pointer;
}

/*ResumenCotizacion*/

.resumen-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%; /* Ancho del resumen */
  background-color: #f0f0f0;
  border-left: 1px solid #ccc; /* Línea divisoria */
  overflow-y: auto;
  padding: 20px; /* Añade un espacio interno */
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1); /* Añade una sombra para resaltar el contorno */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.resumen-container.active {
  transform: translateX(0);
}

.resumen-cotizacion-container {
  max-width: 100%; /* Ajusta el ancho del contenido */
  position: relative;
}

.resumen-cotizacion-header {
  background-color: #ddd;
  padding: 10px;
  border-radius: 8px 8px 0 0; /* Borde redondeado solo en la parte superior */
  border-bottom: 1px solid #ccc;
}

.resumen-cotizacion-title {
  margin: 0;
}

.resumen-cotizacion-content {
  padding: 20px 0; /* Ajusta el espacio interno */
  text-align: left;
}

.resumen-cotizacion-actions {
  display: flex;
  flex-direction: row;
  gap: 5px; /* Espacio entre botones */
  margin-bottom: 50px;
}

.resumen-cotizacion-actions button {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.resumen-cotizacion-actions button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón por encima */
}

.resumen-cotizacion-actions button:last-child {
  margin-right: 0; /* Elimina el margen derecho del último botón */
}

.iconResumen {
  margin-right: 6px; /* Espacio entre el ícono y el texto */
  width: 20px; /* Ancho del ícono */
  height: 20px; /* Altura del ícono */
}

.cerrar-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.cerrar-button:hover {
  color: #000; /* Cambia el color al pasar el ratón por encima */
  font-weight: 600;
}

/*BandejaCotizaciones*/

.mensaje-cotizacion {
  display: flex;
  align-items: flex-start; /* Alinea los elementos al principio */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%; /* Ancho del mensaje */
}

.mensaje-cotizacion input[type="checkbox"] {
  margin-right: 20px;
  margin-left: 60px;
}

.mensaje-cotizacion .info-container {
  flex: 1;
}

.mensaje-cotizacion .info-container p {
  margin: 5px 0;
  text-align: left;
}

.mensaje-cotizacion .info-container p:first-child {
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #007bff;
  min-width: 135px;
  z-index: 1;
  border-radius: 3px;
}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background-color: #007bff;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #0056b3;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropdown:hover .dropbtn {
  background-color: #0056b3;
}
/* Puedes añadir más estilos según tus necesidades */

/* En tu archivo de estilos CSS */
.fullscreen-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Agrega un fondo semitransparente para hacer que el formulario sea más visible */
  z-index: 9999; /* Asegúrate de que el formulario esté por encima de otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-form form {
  width: 90%; /* Ajusta el ancho del formulario según sea necesario */
  max-width: 800px; /* Limita el ancho máximo del formulario */
  /* Agrega otros estilos según sea necesario */
}

.cotizaciones-table {
  text-align: center;
}

/**/

.search-bar {
  position: relative;
  right: 25%;
}

.encabezado {
  display: flex;
  gap: 2rem;
  justify-content: left;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.boton-accion {
  position: relative;
  left: 5%;
  font-weight: 600;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.boton-accion:hover {
  background-color: #0056b3;
}











